@font-face {
    font-family:'ClashDisplay';
    src: url(../fonts/ClashDisplay/Regular/ClashDisplay-Regular.woff);
    src: url(../fonts/ClashDisplay/Regular/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family:'Satoshi';
    src: url(../fonts/Satoshi/Regular/Satoshi-Regular.woff);
    src: url(../fonts/Satoshi/Regular/Satoshi-Regular.woff2);
    font-weight: 400;
}