//colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-space-cadet: #2A254B;
$color-rhythm: #726E8D;
$color-dark-gunmetal: #22202E;
$color-black-coral: #5B5676;
$color-ghost-white: #F9F9F9;
$color-dark-slate-blue: #4E4D93;
$color-bright-gray: #EBE8F4;
$color-light-periwinkle: #CAC6DA;

//colors map
$title: $color-space-cadet;

$button: $color-space-cadet;
$button-background: $color-ghost-white;
$button--hover: $color-white;
$button-background--hover: $color-dark-gunmetal;

$header-bar-title: $color-dark-gunmetal;
$header-bar-button: $color-space-cadet;

$navigation-border: $color-dark-gunmetal;
$navigation-link: $color-rhythm;
$navigation-link-hover: $color-dark-gunmetal;
$navigation-link-border: $color-dark-gunmetal;

$banner-description: $color-space-cadet;
$banner-description--desktop: $color-black-coral;
$banner-inner: $color-white;