//font sizes
$mobile_font-sizes_title: 24px;
$mobile_line-height_title: 30px;
$desktop_font-sizes_title: 32px;
$desktop_line-height_title: 45px;

$mobile_font-sizes_button: 16px;
$mobile_line-height_button: 55px;

$mobile_font-sizes_header-bar-title: 24px;
$mobile_line-height_header-bar-title: 30px;
$mobile_font-sizes_header-bar-button: 16px;
$mobile_line-height_header-bar-button: 16px;

$desktop_font-sizes-navigation-link: 16px;
$desktop_line-height-navigation-link: 21px;

$mobile_font-sizes_banner-description: 16px;
$mobile_line-height_banner-description: 22px;
$desktop_font-sizes_banner-description: 18px;
$desktop_line-height_banner-description: 27px;

$mobile_font-benefits-title: 20px;
$desktop_font-benefits-title: 24px;
$mobile_font-benefits-icon: 24px;
$mobile_font-benefits-title: 20px;
$mobile_font-benefits-description: 16px;
$mobile_line-height-benefits-description: 20px;